body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-background {
  background-image: url("images/world-background.jpg");
  background-size: cover;
  background-position: center -70px;
  background-repeat: no-repeat;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.form-style {
  background-color: white;
  border: 1.5px solid #144272;
  border-radius: 1rem;
}

.btn-custom {
  background-color: #144272;
  color: white;
}

.btn-custom:hover {
  background-color: gray;
}

.croissant {
  font-family: 'Croissant One';
}

.form-font {
  color: #144272;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}

.nav-container {
  background-color: black;
  height: 3.8rem;
}

.white {
  color: white;
}

.brand {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.nav-links {
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}

.nav-links:hover {
  color: #f2cc31;
}

.blue-text {
  color: #144272
}

.blue-background {
  background-color: #144272;
}

/*css from liam's file*/
#blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color: #f9f8ff;

}

.blog-heading h3 {
  font-size: 2.4rem;
  color: #252525;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 2.4rem;
}

.blog-heading strong{
  color: #0a0ef8;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.3px;

}

.blog-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.blog-box{
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #144272;
  cursor: pointer;
}

.blog-box:hover{
  background-color: #ffffff;
  box-shadow: 16px 20px 50px rgba(0,0,0,0.5);

}

.blog-box-img{
  width: 100%;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.blog-box-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: cover;
  transition: all ease 0.3s;

}
.blog-img-link {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  box-shadow: 2px 2px 30px rgba(20, 97, 212, 0.12);

}

.blog-box:hover .blog-box-img a{
  display: flex;

}

.blog-box:hover .blog-box-img img{
  filter: blur(3px);
}

@keyframes fade{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.blog-box-text{
  display: flex;
  flex-direction: column;
  padding: 30px 10px 20px 10px;
}

.blog-box-text strong,
.blog-box-text p{
  color: #797979;
  font-size: 0.9rem;
  font-weight: 400;
}

.blog-box-text a{
  font-size: 1.4rem;
  color: #252525;
  font-weight: 800;
  line-height: 1.8rem;
  margin: 5px 0px 10px 0px;
}

.blog-box-text p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-author{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blog-author-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.blog-author-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-author-text{
  display: text;
  flex-direction: column;
}

.blog-author-text strong{
  color: #252525;
  font-weight: 800;
}

.blog-author-text span{
  color: #797979;
  font-size: 0.8rem;
  font-weight: 500;
}

.black {
  color: black;
}

.user {
  font-size: 1rem !important;
}

.nm-20 {
  margin-bottom: -20px;
}